# Log files
*.log
*.rpt

# Regeneratable configuration
*.cydsn/Export/*
*.cydsn/armgcc/*
*.cydsn/iar/*
*.cydsn/mdk/*
*.cydsn/*.icf
*.cydsn/*.ld
*.cydsn/*.scat
*.cydsn/*.cycdx
*.cydsn/*.cyfit
*.cydsn/*.cyprj.*
*.svd
*.cywrk.*

# Intermediate files
*.cydsn/codegentemp/*
*.cydsn/Generated_Source/*

# Results
*.cydsn/CortexM4/*
*.cydsn/CortexM3/*
*.cydsn/CortexM0p/*
*.cydsn/CortexM0/*
*.cydsn/DP8051/*
*.cydsn/*_timing.html
*.cydsn/*_datasheet.pdf

# Archives
Backup/*
Archive/*

# Test Exec
*.exe
